<html lang="en" class="mdl-js">

<head>
  <title> SHAKTIBOOK: Online Sports Betting and Casino Sites in India </title>

  <meta charset="utf-8">
  <meta name="theme-color" content="#080A52">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <!-- Required meta tags facebook-->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="    SHAKTIBOOK: Online Sports ID  in India
">
  <meta property="og:description" content="">
  <meta property="og:url" content="http://SHAKTIBOOK.com">
  <meta property="og:site_name" content="SHAKTIBOOK">
  <meta property="og:image" content="https://tez888.com/images/tez888.png?v=62.11">
  <meta property="fb:pages" content="https://www.facebook.com/tez888india/">
  <meta name="twitter:card" content="summary">
  {{!--
  <link rel="icon" type="image/png" sizes="192x192" href="https://tez888.com/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://tez888.com/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://tez888.com/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://tez888.com/images/favicon.ico"> --}}
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/android-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script async="" src="https://www.clarity.ms/s/0.7.22/clarity.js"></script>
  <script type="text/javascript" async=""
    src="https://www.googletagmanager.com/gtag/js?id=G-DWG261WCEV&amp;l=dataLayer&amp;cx=c"></script>
  <script async="" src="https://www.clarity.ms/tag/ij69x7vvv8"></script>

  <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PQT7BKHM"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="canonical" href="https://tez888.com">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
  <link rel="stylesheet" href="https://assets.tez888.com/static/css/style-light-pink.css?v=63.65">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>





  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.1.0/firebaseui.css">



  <meta name="dmca-site-verification" content="ejFrR25mY0dlWGxoczhSM2txeUVvdz090">
  <meta name="description"
    content="SHAKTIBOOK, one of the trusted online betting site in india offering sports betting, casino games and betting guide. Join today to claim your welcome bonus.">
  <link href="https://static-widget.pl-01.play-platform.com/public/sdk.css" rel="stylesheet">
  <script src="https://static-widget.pl-01.play-platform.com/public/sdk.js"></script>
  <script src="/object.js"></script>
  <style>
    .backodds {
      background: #72bbef;
      border-radius: 4px;
      padding: 14px;
      font-size: 14px;
      text-align: center;
      margin: 0 2px;
      width: 100%;
      height: auto;
      cursor: pointer;
      font-weight: 900;
    }

    .oddlay {
      background: #f492b7;
      border-radius: 4px;
      padding: 14px;
      font-size: 14px;
      text-align: center;
      margin: 0 2px;
      width: 100%;
      height: auto;
      cursor: pointer;
      font-weight: 900;

    }

    .backodds {
      background: #72bbef;
      border-radius: 4px;
      padding: 14px;
      font-size: 14px;
      text-align: center;
      margin: 0 2px;
      width: 100%;
      height: auto;
      cursor: pointer;
      font-weight: 900;
    }

    .oddlay {
      background: #f492b7;
      border-radius: 4px;
      padding: 14px;
      font-size: 14px;
      text-align: center;
      margin: 0 2px;
      width: 100%;
      height: auto;
      cursor: pointer;
      font-weight: 900;

    }

    ul li {
      border-bottom: 2px solid #c7c8ca;
      padding: 10px;
      margin-bottom: 10px;
    }

    div.vsName {
      color: #333;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;


    }

    .green-dot {
      display: inline-block;
      background-color: green;
      border-radius: 50%;
      width: 10px;
      height: 10px;

    }

    .float {
      position: fixed;
      width: 200px;
      height: 60px;
      bottom: 40px;
      right: 40px;

      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
      height: 63px;
    }

    .my-float {
      margin-top: 16px;
    }

    #preloader {
      position: fixed;
      z-index: 999999;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #01022f;
    }

    #preloader img {
      height: 180px;
      width: 340px;
    }

    @media(max-width: 568px) {
      #preloader img {
        height: 120px;
        width: 220px;
      }
    }

    .chatbox {
      position: fixed;
      bottom: 0;
      right: 30px;
      width: 300px;
      height: 400px;
      background-color: #fff;
      font-family: 'Lato', sans-serif;

      -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
      z-index: 999;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .chatbox--tray {
      bottom: -350px;
    }

    .chatbox--closed {
      bottom: -400px;
    }

    .chatbox .form-control:focus {
      border-color: #1f2836;
    }

    .chatbox__title,
    .chatbox__body {
      border-bottom: none;
    }

    .chatbox__title {
      min-height: 50px;
      padding-right: 10px;
      background-color: #1f2836cc;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      cursor: pointer;

      display: -webkit-flex;
      display: flex;

      -webkit-align-items: center;
      align-items: center;
    }

    .chatbox__title h5 {
      height: 50px;
      margin: 0 0 0 15px;
      line-height: 50px;
      position: relative;
      padding-left: 20px;

      -webkit-flex-grow: 1;
      flex-grow: 1;
    }

    .chatbox__title h5 a {
      color: #fff;
      max-width: 195px;
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .chatbox__title h5:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 12px;
      height: 12px;
      background: #4CAF50;
      border-radius: 6px;

      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .chatbox__title__tray,
    .chatbox__title__close {
      width: 24px;
      height: 24px;
      outline: 0;
      border: none;
      background-color: transparent;
      opacity: 0.5;
      cursor: pointer;

      -webkit-transition: opacity 200ms;
      transition: opacity 200ms;
    }

    .chatbox__title__tray:hover,
    .chatbox__title__close:hover {
      opacity: 1;
    }

    .chatbox__title__tray span {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-bottom: 2px solid #fff
    }

    .chatbox__title__close svg {
      vertical-align: middle;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.2px;
    }

    .chatbox__body,
    .chatbox__credentials {
      padding: 15px;
      border-top: 0;
      background-color: #DCDCDC;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;

      -webkit-flex-grow: 1;
      flex-grow: 1;
    }

    .chatbox__credentials {
      display: none;
    }

    .chatbox__credentials .form-control {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .chatbox__body {
      overflow-y: auto;
    }

    .chatbox__body__message {
      position: relative;
    }

    .chatbox__body__message p {
      padding: 15px;
      border-radius: 4px;
      font-size: 14px;

      -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
      box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    }

    .chatbox__body__message img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #fcfcfc;
      position: absolute;
      top: 15px;
    }

    .chatbox__body__message--left p {
      margin-left: 15px;
      padding-left: 30px;
      text-align: left;
      padding-top: 25px;
    }

    .chatbox__body__message--left img {
      left: -5px;
    }

    .chatbox__body__message--right p {
      margin-right: 15px;
      padding-right: 30px;
      text-align: right;
    }

    .chatbox__body__message--right img {
      right: -5px;
    }

    .chatbox__message {
      padding: 15px;
      min-height: 50px;
      outline: 0;
      resize: none;
      border: none;
      font-size: 12px;
      border: 1px solid #ddd;
      border-bottom: none;
      background-color: #fefefe;
    }

    .chatbox--empty {
      height: 262px;
    }

    .chatbox--empty.chatbox--tray {
      bottom: -212px;
    }

    .chatbox--empty.chatbox--closed {
      bottom: -262px;
    }

    .chatbox--empty .chatbox__body,
    .chatbox--empty .chatbox__message {
      display: none;
    }

    .chatbox--empty .chatbox__credentials {
      display: block;
    }

    .chatbox_timing {
      position: absolute;
      right: 10px;
      font-size: 12px;
      top: 2px;
    }

    .chatbox_timing ul {
      padding: 0;
      margin: 0
    }

    .chatbox_timing ul li {
      list-style: none;
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
    }

    .chatbox_timing ul li a {
      display: block;
      color: #747474
    }

    .ul_msg {


      padding: 10px !important;

    }

    .chatbox__body__message--right .ul_section_full {
      margin-right: 15px;
      padding-right: 30px;
      text-align: right;
      border-radius: 4px;
      font-size: 14px;
      background-color: #fff;
      -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
      box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
      margin-bottom: 15px;
      padding-bottom: 5px;
      padding-top: 15px;
    }

    .chatbox__body__message--left .ul_section_full {

      margin-left: 15px;
      padding-left: 15px;
      text-align: left;
      padding-top: 15px;
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-radius: 4px;
      font-size: 14px;
      background-color: #fff;
      -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
      box-shadow: 1px 1px rgba(100, 100, 100, 0.1);

    }

    .ul_msg {
      padding: 0;
      margin: 0px
    }

    .ul_msg li {
      list-style: none;
      display: block
    }

    .ul_msg2 {
      padding: 0;
      margin: 0px;
      text-align: right;
    }

    .ul_msg2 li {
      list-style: none;
      display: inline-block;
      margin-right: 15px;
    }

    .chatbox__body__message--right .chatbox_timing {
      position: absolute;
      left: 10px;
      font-size: 12px;
      top: 2px;
    }

    .chatbox__body__message--right .ul_msg2 {
      text-align: left
    }

    .chatbox__body__message--right .ul_msg2 li {
      list-style: none;
      display: inline-block;
      margin-left: 15px;
      margin-right: 0px
    }

    .chat_set_height {
      height: 40px;
      margin-top: 1px;
    }

    .chatbox22 .form-control:focus {
      border-color: #DCDCDC;
    }

    .width50 {
      width: 50%;
      float: left;
      background: #ECECEC;
    }

    /*======================Chat Box Ends=====================================================*/
    /*======================Message=====================================================*/
    .message_check {
      padding-top: 10px;
    }

    .messsade_date {
      text-align: left;
      padding-top: 9px;
    }

    .messsade_date a {
      color: #000;
    }

    .padleftright0 {
      padding-left: 0px;
      padding-right: 0px;
    }

    .message_box_area {
      color: #000;
      cursor: pointer;
    }

    .create_m {
      border: 1px solid #ccc !important;
    }

    .fileinput-button {
      float: left;
      margin-right: 4px;
      overflow: hidden;
      position: relative;
    }

    .fileinput-button {
      background: none repeat scroll 0 0 #eeeeee;
      border: 1px solid #e6e6e6;
      margin-top: 15px;
    }

    .fileinput-button {
      float: left;
      margin-right: 4px;
      overflow: hidden;
      position: relative;
    }

    .fileinput-button input {
      cursor: pointer;
      direction: ltr;
      font-size: 23px;
      margin: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-300px, 0px) scale(4);
    }

    .fileupload-buttonbar .btn,
    .fileupload-buttonbar .toggle {
      margin-bottom: 5px;
    }

    .create_m:focus {
      border-color: #66afe9 !important;
      outline: 0 !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
    }

    .col-lg-3.control-label {
      text-align: left;
    }
  </style>
  <script async="" id="amo_social_button_script" src="https://gso.amocrm.com/js/button.js"></script>
  <link rel="stylesheet" href="https://gso.amocrm.com/build/css/index.css?YTynP8gwbuc8Rzn4kfEOb">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .floating-chat.expand {
      width: 250px;
      max-height: 400px;
      height: 400px;
      border-radius: 5px;
      cursor: auto;
      opacity: 1;
    }

    .floating-chat.enter {
      transform: translateY(0);
      opacity: 1;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
      z-index: 20;
    }

    .floating-chat .chat .messages li.self {
      animation: show-chat-even 0.15s 1 ease-in;
      -moz-animation: show-chat-even 0.15s 1 ease-in;
      -webkit-animation: show-chat-even 0.15s 1 ease-in;
      float: left;
      margin-left: 45px;
      color: #0EC879;
    }

    .floating-chat {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: fixed;
      bottom: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
      transform: translateY(70px);
      transition: all 250ms ease-out;
      border-radius: 50%;
      opacity: 0;
      background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
      background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .floating-chat .chat.enter {
      opacity: 1;
      border-radius: 0;
      margin: 10px;
      width: auto;
      height: auto;
    }

    .floating-chat .chat {
      display: flex;
      flex-direction: column;
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      transition: all 250ms ease-out;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .floating-chat .chat .header {
      flex-shrink: 0;
      padding-bottom: 10px;
      display: flex;
      background: transparent;
    }

    .floating-chat .chat .messages {
      padding: 10px;
      margin: 0;
      list-style: none;
      overflow-y: scroll;
      overflow-x: hidden;
      flex-grow: 1;
      border-radius: 4px;
      background: transparent;
    }

    .floating-chat .chat .messages li.other {
      animation: show-chat-odd 0.15s 1 ease-in;
      -moz-animation: show-chat-odd 0.15s 1 ease-in;
      -webkit-animation: show-chat-odd 0.15s 1 ease-in;
      float: right;
      margin-right: 45px;
      color: #0AD5C1;
    }

    .floating-chat .chat .messages li {
      position: relative;
      clear: both;
      display: inline-block;
      padding: 14px;
      margin: 0 0 20px 0;
      font: 12px / 16px "Noto Sans", sans-serif;
      border-radius: 10px;
      background-color: rgba(25, 147, 147, 0.2);
      word-wrap: break-word;
      max-width: 81%;
    }

    .floating-chat .chat .messages li.other:before {
      right: -45px;
      background-image: url(https://github.com/Thatkookooguy.png);
    }

    .floating-chat .chat .messages li:before {
      position: absolute;
      top: 0;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      content: "";
      background-size: cover;
    }

    .floating-chat .chat .messages li.other {
      animation: show-chat-odd 0.15s 1 ease-in;
      -moz-animation: show-chat-odd 0.15s 1 ease-in;
      -webkit-animation: show-chat-odd 0.15s 1 ease-in;
      float: right;
      margin-right: 45px;
      color: #0AD5C1;
    }

    .floating-chat .chat .messages li.other:after {
      border-right: 10px solid transparent;
      right: -10px;
    }

    .floating-chat .chat .messages li:after {
      position: absolute;
      top: 10px;
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid rgba(25, 147, 147, 0.2);
    }

    .floating-chat .chat .messages li.self:before {
      left: -45px;
      background-image: url(https://github.com/ortichon.png);
    }

    .floating-chat .chat .messages li:before {
      position: absolute;
      top: 0;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      content: "";
      background-size: cover;
    }

    .floating-chat .chat .messages li.self {
      animation: show-chat-even 0.15s 1 ease-in;
      -moz-animation: show-chat-even 0.15s 1 ease-in;
      -webkit-animation: show-chat-even 0.15s 1 ease-in;
      float: left;
      margin-left: 45px;
      color: #0EC879;
    }

    .floating-chat .chat .messages li.self:after {
      border-left: 10px solid transparent;
      left: -10px;
    }

    .floating-chat .chat .messages li:after {
      position: absolute;
      top: 10px;
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid rgba(25, 147, 147, 0.2);
    }

    .floating-chat .chat .footer {
      flex-shrink: 0;
      display: flex;
      padding-top: 10px;
      max-height: 90px;
      background: transparent;
    }

    .floating-chat .chat .footer .text-box {
      border-radius: 3px;
      background: rgba(25, 147, 147, 0.2);
      min-height: 100%;
      width: 100%;
      margin-right: 5px;
      color: #0EC879;
      overflow-y: auto;
      padding: 2px 5px;
    }

    .floating-chat button {
      background: transparent;
      border: 0;
      color: white;
      text-transform: uppercase;
      border-radius: 3px;
      cursor: pointer;
    }

    @keyframes show-chat-even {
      0% {
        margin-left: -480px;
      }

      100% {
        margin-left: 0;
      }
    }

    @-moz-keyframes show-chat-even {
      0% {
        margin-left: -480px;
      }

      100% {
        margin-left: 0;
      }
    }

    @-webkit-keyframes show-chat-even {
      0% {
        margin-left: -480px;
      }

      100% {
        margin-left: 0;
      }
    }

    @keyframes show-chat-odd {
      0% {
        margin-right: -480px;
      }

      100% {
        margin-right: 0;
      }
    }

    @-moz-keyframes show-chat-odd {
      0% {
        margin-right: -480px;
      }

      100% {
        margin-right: 0;
      }
    }

    @-webkit-keyframes show-chat-odd {
      0% {
        margin-right: -480px;
      }

      100% {
        margin-right: 0;
      }
    }
  </style>
  <script>
    var element = $('.floating-chat');
    var myStorage = localStorage;

    if (!myStorage.getItem('chatID')) {
      myStorage.setItem('chatID', createUUID());
    }

    setTimeout(function () {
      element.addClass('enter');
    }, 1000);

    element.click(openElement);

    function openElement() {
      var messages = element.find('.messages');
      var textInput = element.find('.text-box');
      element.find('>i').hide();
      element.addClass('expand');
      element.find('.chat').addClass('enter');
      var strLength = textInput.val().length * 2;
      textInput.keydown(onMetaAndEnter).prop("disabled", false).focus();
      element.off('click', openElement);
      element.find('.header button').click(closeElement);
      element.find('#sendMessage').click(sendNewMessage);
      messages.scrollTop(messages.prop("scrollHeight"));
    }

    function closeElement() {
      element.find('.chat').removeClass('enter').hide();
      element.find('>i').show();
      element.removeClass('expand');
      element.find('.header button').off('click', closeElement);
      element.find('#sendMessage').off('click', sendNewMessage);
      element.find('.text-box').off('keydown', onMetaAndEnter).prop("disabled", true).blur();
      setTimeout(function () {
        element.find('.chat').removeClass('enter').show()
        element.click(openElement);
      }, 500);
    }

    function createUUID() {
      // http://www.ietf.org/rfc/rfc4122.txt
      var s = [];
      var hexDigits = "0123456789abcdef";
      for (var i = 0; i < 36; i++) {
        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
      }
      s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
      s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
      s[8] = s[13] = s[18] = s[23] = "-";

      var uuid = s.join("");
      return uuid;
    }

    function sendNewMessage() {
      var userInput = $('.text-box');
      var newMessage = userInput.html().replace(/\<div\>|\<br.*?\>/ig, '\n').replace(/\<\/div\>/g, '').trim().replace(/\n/g, '<br>');

      if (!newMessage) return;

      var messagesContainer = $('.messages');

      messagesContainer.append([
        '<li class="self">',
        newMessage,
        '</li>'
      ].join(''));

      // clean out old message
      userInput.html('');
      // focus on input
      userInput.focus();

      messagesContainer.finish().animate({
        scrollTop: messagesContainer.prop("scrollHeight")
      }, 250);
    }

    function onMetaAndEnter(event) {
      if ((event.metaKey || event.ctrlKey) && event.keyCode == 13) {
        sendNewMessage();
      }
    }
  </script>
</head>

<body cz-shortcut-listen="true">
  {{!-- New Chat Box Start --}}
  <div class="floating-chat enter expand">
    <i class="fa fa-comments" aria-hidden="true" style="display: none;"></i>
    <div class="chat enter">
      <div class="header">
        <span class="title">
          what's on your mind?
        </span>
        <button>
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>

      </div>
      <ul class="messages" id="new_chatbox_body">

      </ul>
      <div class="footer">
        <div class="text-box" contenteditable="true" disabled="true"></div>
        <button id="sendMessage">send</button>
      </div>
    </div>
  </div>
  {{!-- New CHat Box END --}}

  <div class="container" style="position:fixed;bottom:90px;z-index:10000">

    <hr>
    <div class="row">
      {{!-- <div class="chatbox chatbox22 chatbox--tray">
        <div class="chatbox__title">
          <h5><a href="javascript:void()">Leave a message</a></h5>
          <!--<button class="chatbox__title__tray">
            <span></span>
        </button>-->
          <button class="chatbox__title__close">
            <span>
              <svg viewBox="0 0 12 12" width="12px" height="12px">
                <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
              </svg>
            </span>
          </button>
        </div>
        <div class="chatbox__body">
          <div class="alert alert-success login_info" role="alert">
            Login To start live chat with ou agent here and get Id instantly,No need to connect on whatsapp<br>
            we ensure you will have best playing experience with us.😊😊
          </div>
          {{#if isloggedin}}
          <button type="button" class="btn btn-info mb-3 " id="login">LOGIN OR REGISTER</button>
          {{else}}
          <button type="button" class="btn btn-info mb-3 " id="login">LOGGED IN</button>
          {{/if}}
          <div class="chatbox__body__message chatbox__body__message--left">

            <div class="chatbox_timing">
              <ul>
                <li><a href="#"><i class="fa fa-calendar"></i> 22/11/2018</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> 7:00 PM</a></a></li>
              </ul>
            </div>

            <img src="https://www.gstatic.com/webp/gallery/2.jpg" alt="Picture">
            <div class="clearfix"></div>

          </div>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="message_input" type="text" class="form-control" placeholder="Type your message here..." />

            <span class="input-group-btn">
              <button class="btn bt_bg btn-sm" id="send_message">
                Send</button>
            </span>
          </div>
        </div>
      </div> --}}

    </div>
  </div>
  <div id="floater">
    <a href="https://api.whatsapp.com/send?phone=917688891113&text=Hey" class="float" target="_blank">
      <img src="https://shivaxchange.com/img/w_chat.png" class="img-fluid">

    </a>

    <div id="preloader" style="display: none;">
      <img src="https://tez888.com/images/newLoader2.gif">
    </div>
    <style>
      #load_screen {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(8, 10, 82, 0.8);
      }

      #load_screen img {
        height: 180px;
        width: 340px;
      }

      @media(max-width: 568px) {
        #load_screen img {
          height: 120px;
          width: 220px;
        }

        .top-header {
          height: 65px;
        }
      }
    </style>
    <div id="load_screen" style="display:none;">
      <img src="https://tez888.com/images/newLoader2.gif">
    </div>
    <header>
      <section class="top-header">
        <div class="top-header-left">

          <a href="">
            <img src="https://shivaxchange.com/img/shaktibooklogo-removebg-preview.png" alt="Tez888" class="logo">
          </a>
        </div>
        <a href="https://tez888.com/api/v1/login" class="login_btn botn botn-filled d-none">Login</a>
        <div class="d-flex justify-content-end">
          <div class="headerBtns android-app d-none">
            <a href="" class="downloadAppBtn me-2 app-step">
              <img src="/images/topbardownloadApp.png" alt="Download Tez888 App">
            </a>
            <button class="login_btn m-0 botn botn-filled">Login/Signup</button>
          </div>
          <div class="headerBtns other-app">

            <button class="login_btn botn">Login</button>
            <button class="join_btn botn botn-filled">Join Now</button>
          </div>
        </div>
      </section>
      <!--|| LEFT-SIDEMENU-START ||-->
      <section class="sideMenuLeft">
        <div class="pc_nav_logo">
          <a href="/">
            <img src="./img/b777_logo.png" alt="Tez888" class="logo">
          </a>
        </div>
        <button class="backBtn menuToggleLeft">
          <img src="/images/back.svg" alt="can't load">
        </button>
        <ul class="menuItems">
          <li class="">
            <a href="" class="menuItem">
              <i class="i_style i_sportsBook"></i>
              <span>SPORTSBOOK</span>
            </a>
          </li>
          <li class="">
            <a href="" class="menuItem">
              <i class="i_style i_sportsBook"></i>
              <span>EXCHANGE</span>
            </a>
          </li>
          <li class="">
            <a href="" class="menuItem">
              <i class="i_style i_liveCasino"></i>
              <span>LIVE CASINO</span>
            </a>
          </li>
          <li class="">
            <a href="" class="menuItem">
              <i class="i_style i_casino"></i>
              <span>CASINO</span>
            </a>
          </li>
          <li class="">
            <a href="" class="menuItem">
              <i class="i_style i_promo"></i>
              <span>PROMOTIONS</span>
            </a>
          </li>
          <li class="">
            <a href="" class="menuItem">
              <i class="i_style i_leaderboard"></i>
              <span>LEADERBOARD</span>
            </a>
          </li>
        </ul>
        <div class="login_join">
          <a href="" class="login_btn botn my-3 py-2">Login</a>
          <button class="join_btn botn my-2 py-2 botn-filled">Join Now</button>
          <a href="" class="downloadAppBtn android-app d-none">
            <img src="/images/downloadApp.png" alt="Download Tez888 App">
          </a>
        </div>

      </section>
    </header>
    <main class="index-main">
      <!--|| RIGHT-SIDEMENU-START ||-->
      <section class="sideMenuRight">
        <button class="backBtn menuToggleRight">
          <img src="/images/back.svg" alt="can't load">
        </button>
        <div class="logout">
          <a href="" class="menuItem logout_menu">
            <i class="i_style i_logout"></i>
            <span>Log out</span>
          </a>
        </div>
        <!-- <div class="bottomBox"><div class="row"><a href="https://tez888.com/app/tez888.apk" targer="_blank" class="col-12">
                Download App
            </a><button class="col-6">
                help Center
            </button></div></div>    -->
      </section>
      <marquee class="marqueee" direction="left" scrollamount="10" onmouseover="this.stop();"
        onmouseout="this.start();">
        <span> Enjoy Exclusive Welcome Bonus upto Rs.35,000. Deposit and claim now. </span>
        <span> Join 99L Maximise March Casino Leaderboard till 31st Mar! Maxbet on Casino and Live Casino and win big.
        </span>
        <span> Install the SHAKTIBOOK app and unlock a Rs.500 bonus and win a One Plus Open weekly. </span>
      </marquee>
      {{#if isloggedin}}
      <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
      </div>
      {{else}}
      <div class="alert alert-success" role="alert">
        {{isloggedin}}
      </div>
      {{/if}}

      <div id="altas-promotion" style="display:none;" class="container-wd mb-4">
        <div class="sdkw-slider">
          <div class="sdkw-slides-container">
            <div class="sdkw-slides sdkw-animation" style="left: 0px;">
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sdkw-arrows">
            <button type="button" class="sdkw-left">
              <svg width="5" height="10" viewBox="0 0 5 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 0L0 5L5 10V0Z" fill="currentColor"></path>
              </svg>
            </button>
            <button type="button" class="sdkw-right">
              <svg width="5" height="10" viewBox="0 0 5 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0L5 5L0 10V0Z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <section class="container-wd">
        <div class="row banner_box">
          <div class="slide col-12">
            <div id="carouselExampleIndicators" class="carousel slide pointer-even slick_slide" data-bs-ride="carousel">

              <div>

                <img src="./banners/banner1.jpg" alt="" class="img-fluid">

              </div>
              <div>

                <img src="https://shivaxchange.com/img/a00.jpg" alt="" class="img-fluid">

              </div>
              <div>

                <img src="https://shivaxchange.com/img/a11.jpg" alt="" class="img-fluid">

              </div>

              <div>

                <img src="https://shivaxchange.com/img/a22.jpg" alt="" class="img-fluid">

              </div>

              <div>

                <img src="https://shivaxchange.com/img/a33.jpg" alt="" class="img-fluid">

              </div>







              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=""
                  aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=""
                  aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class=""
                  aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="active"
                  aria-current="true" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class=""
                  aria-current="true" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class=""
                  aria-current="true" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" class=""
                  aria-current="true" aria-label="Slide 8"></button>
              </div>
            </div>
          </div>
        </div>


      </section>

      {{!-- Odds Section Start --}}
      <div class="container-fluid">
        <div id="oddsContainer">

        </div>
        {{!-- Odds Section --}}
        <div class="container-fluid mt-3">
          <ul id="oddsList" class="col-12" style="overflow:hidden;overflow-x:scroll">
            <li class="d-flex align-items-center">
              <div class="col-6 d-flex justify-content-start " style="font-weight:bold">
                Game
              </div>
              <div class="col-6 d-flex " style="justify-content:space-evenly">
                <div class="col-2" style="font-weight:bold;text-align:center">
                  <em>1 </em>

                </div>
                <div class="col-2" style="font-weight:bold;text-align:center">
                  <em>X </em>

                </div>
                <div class="col-2" style="font-weight:bold;text-align:center">
                  <em>2 </em>

                </div>



              </div>

        </div>

        </li>
        <li class="d-flex align-items-center flex-column flex-sm-row">
          <div class="col-12 col-lg-6 d-flex  vsname" style="white">
            IndisVsEngland
          </div>
          <div class="col-12 col-lg-6 d-flex align-self-start">
            <div class="backodds">
              <em>1.96 </em>

            </div>
            <div class="oddlay">
              <em>1.96 </em>

            </div>
            <div class="backodds">
              <em>1.96 </em>

            </div>
            <div class="oddlay">
              <em>1.96 </em>

            </div>
            <div class="backodds">
              <em>1.96 </em>

            </div>
            <div class="oddlay">
              <em>1.96 </em>

            </div>
          </div>

      </div>

      </li>
      </ul>

  </div>
  </div>
  {{!-- Odds Section End --}}

  <section class="casino container-wd">
    <div class="casinoLeft">
      <div class="casinoLeftTop">
        <div class="d-flex">
          <div class="casinoLeftTopChild">
            <h1>live-casino</h1>
            <span class="whiteP">300+ Games</span>
          </div>
        </div>
        <a class="botn showMob botn-filled" href="/live-casino">Go to Live Casino</a>
      </div>
      <a class="botn showPC botn-filled" href="/live-casino">Go to Live Casino</a>
    </div>
    <div class="casinoRight">
      <section>
        <div class="mt-3">
          <div class="games_box">
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/evo_liveblackjacklobby.webp" alt="" data-game="Blackjack Lobby"
                  title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Blackjack Lobby"
                  data-game-type="dreamcasino:evo_liveblackjacklobby" data-game-provider="dreamcasino"
                  data-game-category="Live Lobby">
                  <div class="gameImageBox_middle play_game" data-game="Blackjack Lobby"
                    data-game-type="dreamcasino:evo_liveblackjacklobby" data-game-provider="dreamcasino"
                    data-game-category="Live Lobby">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Blackjack Lobby">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Blackjack Lobby</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/roulette-lobby-thumb.webp" alt="" data-game="Roulette Lobby"
                  title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Roulette Lobby"
                  data-game-type="dreamcasino:evo_liveroulettelobby" data-game-provider="dreamcasino"
                  data-game-category="Live Lobby">
                  <div class="gameImageBox_middle play_game" data-game="Roulette Lobby"
                    data-game-type="dreamcasino:evo_liveroulettelobby" data-game-provider="dreamcasino"
                    data-game-category="Live Lobby">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Roulette Lobby">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Roulette Lobby</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/evo_livebaccaratlobby.webp" alt="" data-game="Baccarat Lobby"
                  title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Baccarat Lobby"
                  data-game-type="dreamcasino:evo_livebaccaratlobby" data-game-provider="dreamcasino"
                  data-game-category="Live Lobby">
                  <div class="gameImageBox_middle play_game" data-game="Baccarat Lobby"
                    data-game-type="dreamcasino:evo_livebaccaratlobby" data-game-provider="dreamcasino"
                    data-game-category="Live Lobby">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Baccarat Lobby">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Baccarat Lobby</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/threecardpoker-thumb.webp" alt=""
                  data-game="Three Card Poker Lobby" title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Three Card Poker Lobby"
                  data-game-type="dreamcasino:evo_threecardpokerlobby" data-game-provider="dreamcasino"
                  data-game-category="Live Lobby">
                  <div class="gameImageBox_middle play_game" data-game="Three Card Poker Lobby"
                    data-game-type="dreamcasino:evo_threecardpokerlobby" data-game-provider="dreamcasino"
                    data-game-category="Live Lobby">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Three Card Poker Lobby">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Three Card Poker Lobby</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/evo_ultimatetexasholdemlobby.webp" alt=""
                  data-game="Ultimate Texas Holdem Lobby" title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Ultimate Texas Holdem Lobby"
                  data-game-type="dreamcasino:evo_ultimatetexasholdemlobby" data-game-provider="dreamcasino"
                  data-game-category="Live Lobby">
                  <div class="gameImageBox_middle play_game" data-game="Ultimate Texas Holdem Lobby"
                    data-game-type="dreamcasino:evo_ultimatetexasholdemlobby" data-game-provider="dreamcasino"
                    data-game-category="Live Lobby">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Ultimate Texas Holdem Lobby">PLAY
                      DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Ultimate Texas Holdem Lobby</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/evo_gameshowslobby.webp" alt="" data-game="Game Shows Lobby"
                  title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Game Shows Lobby"
                  data-game-type="dreamcasino:evo_gameshowslobby" data-game-provider="dreamcasino"
                  data-game-category="Live Lobby">
                  <div class="gameImageBox_middle play_game" data-game="Game Shows Lobby"
                    data-game-type="dreamcasino:evo_gameshowslobby" data-game-provider="dreamcasino"
                    data-game-category="Live Lobby">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Game Shows Lobby">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Game Shows Lobby</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamdelhi.com/dc/evo_crazy_time.webp" alt="" data-game="Crazy Time" title=""
                  class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Crazy Time" data-game-type="dreamcasino:evo_crazy_time"
                  data-game-provider="dreamcasino" data-game-category="Game Show">
                  <div class="gameImageBox_middle play_game" data-game="Crazy Time"
                    data-game-type="dreamcasino:evo_crazy_time" data-game-provider="dreamcasino"
                    data-game-category="Game Show">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Crazy Time">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Crazy Time</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/evo_monopolylive.webp" alt="" data-game="Monopoly live" title=""
                  class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Monopoly live"
                  data-game-type="dreamcasino:evo_monopolylive" data-game-provider="dreamcasino"
                  data-game-category="Game Show">
                  <div class="gameImageBox_middle play_game" data-game="Monopoly live"
                    data-game-type="dreamcasino:evo_monopolylive" data-game-provider="dreamcasino"
                    data-game-category="Game Show">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Monopoly live">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Monopoly live</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/evo_supersicbo.webp" alt="" data-game="Super Sic Bo" title=""
                  class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Super Sic Bo"
                  data-game-type="dreamcasino:evo_supersicbo" data-game-provider="dreamcasino"
                  data-game-category="Live Popular">
                  <div class="gameImageBox_middle play_game" data-game="Super Sic Bo"
                    data-game-type="dreamcasino:evo_supersicbo" data-game-provider="dreamcasino"
                    data-game-category="Live Popular">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Super Sic Bo">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Super Sic Bo</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/evo_dragontiger.webp" alt="" data-game="Dragon Tiger" title=""
                  class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Dragon Tiger"
                  data-game-type="dreamcasino:evo_dragontiger" data-game-provider="dreamcasino"
                  data-game-category="Live Popular">
                  <div class="gameImageBox_middle play_game" data-game="Dragon Tiger"
                    data-game-type="dreamcasino:evo_dragontiger" data-game-provider="dreamcasino"
                    data-game-category="Live Popular">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Dragon Tiger">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Dragon Tiger</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section class="casino container-wd">
    <div class="casinoLeft">
      <div class="casinoLeftTop">
        <div class="d-flex">
          <div class="casinoLeftTopChild">
            <h1>casino</h1>
            <span class="whiteP">300+ Games</span>
          </div>
        </div>
        <a class="botn showMob botn-filled" href="/casino">Go to Casino</a>
      </div>
      <a class="botn showPC botn-filled" href="/casino">Go to Casino</a>
    </div>
    <div class="casinoRight">
      <section>
        <div class="mt-3">
          <div class="games_box">
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://tez888-new-resources.s3.ap-south-1.amazonaws.com/games/thumbnails/aviator_14899.jpg"
                  alt="" data-game="AVIATOR" title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="AVIATOR" data-game-type="dreamcasino:sbe_aviator"
                  data-game-provider="dreamcasino" data-game-category="Casual Games">
                  <div class="gameImageBox_middle play_game" data-game="AVIATOR"
                    data-game-type="dreamcasino:sbe_aviator" data-game-provider="dreamcasino"
                    data-game-category="Casual Games">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="AVIATOR">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>AVIATOR</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://hx-app-assets.s3.eu-west-2.amazonaws.com/gap_casino/jili_mines.webp" alt=""
                  data-game="Mines" title="" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Mines" data-game-type="dreamcasino:jili_mines"
                  data-game-provider="dreamcasino" data-game-category="Casino">
                  <div class="gameImageBox_middle play_game" data-game="Mines" data-game-type="dreamcasino:jili_mines"
                    data-game-provider="dreamcasino" data-game-category="Casino">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Mines">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Mines</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/sbe_goal.webp" alt="" data-game="GOAL" title=""
                  class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="GOAL" data-game-type="dreamcasino:sbe_goal"
                  data-game-provider="dreamcasino" data-game-category="Casual Games">
                  <div class="gameImageBox_middle play_game" data-game="GOAL" data-game-type="dreamcasino:sbe_goal"
                    data-game-provider="dreamcasino" data-game-category="Casual Games">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="GOAL">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>GOAL</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://cdn.dreamcasino.live/bgaming/bgm_plinko.webp" alt="" data-game="Plinko" title=""
                  class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Plinko" data-game-type="dreamcasino:bgm_plinko"
                  data-game-provider="dreamcasino" data-game-category="Video Slots">
                  <div class="gameImageBox_middle play_game" data-game="Plinko" data-game-type="dreamcasino:bgm_plinko"
                    data-game-provider="dreamcasino" data-game-category="Video Slots">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Plinko">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Plinko</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://storage.googleapis.com/images-games-prod/gpi-1947.jpg" alt="Carats Whisper"
                  data-game="Carats Whisper" title="Carats Whisper" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Carats Whisper" data-game-type="CT-1088"
                  data-game-provider="wac" data-game-category="slot">
                  <div class="gameImageBox_middle play_game" data-game="Carats Whisper" data-game-type="CT-1088"
                    data-game-provider="wac" data-game-category="slot">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Carats Whisper">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Carats Whisper</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://storage.googleapis.com/images-games-prod/gpi-2058.jpg"
                  alt="First Person Dream Catcher" data-game="First Person Dream Catcher"
                  title="First Person Dream Catcher" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="First Person Dream Catcher"
                  data-game-type="EVOLUTION-rng~moneywheel-rng~dreamcatcher" data-game-provider="wac"
                  data-game-category="live">
                  <div class="gameImageBox_middle play_game" data-game="First Person Dream Catcher"
                    data-game-type="EVOLUTION-rng~moneywheel-rng~dreamcatcher" data-game-provider="wac"
                    data-game-category="live">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="First Person Dream Catcher">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>First Person Dream Catcher</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img
                  src="https://www.googleapis.com/download/storage/v1/b/images-games-prod/o/gpi-8038.jpg?generation=1650971132143990&amp;alt=media"
                  alt="Virtual Horse Racing" data-game="Virtual Horse Racing" title="Virtual Horse Racing"
                  class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Virtual Horse Racing"
                  data-game-type="KM-KM_Virtual_Horse_Racing" data-game-provider="wac" data-game-category="table_game">
                  <div class="gameImageBox_middle play_game" data-game="Virtual Horse Racing"
                    data-game-type="KM-KM_Virtual_Horse_Racing" data-game-provider="wac"
                    data-game-category="table_game">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Virtual Horse Racing">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Virtual Horse Racing</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://storage.googleapis.com/images-games-prod/gpi-7726.jpg" alt="Narcos" data-game="Narcos"
                  title="Narcos" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Narcos"
                  data-game-type="EVOLUTION-narcos-narcos0000000000" data-game-provider="wac" data-game-category="slot">
                  <div class="gameImageBox_middle play_game" data-game="Narcos"
                    data-game-type="EVOLUTION-narcos-narcos0000000000" data-game-provider="wac"
                    data-game-category="slot">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Narcos">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Narcos</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://storage.googleapis.com/images-games-prod/gpi-3229.jpg" alt="Money Mouse"
                  data-game="Money Mouse" title="Money Mouse" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Money Mouse" data-game-type="PRPLAY-vs25mmouse"
                  data-game-provider="wac" data-game-category="slot">
                  <div class="gameImageBox_middle play_game" data-game="Money Mouse" data-game-type="PRPLAY-vs25mmouse"
                    data-game-provider="wac" data-game-category="slot">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Money Mouse">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Money Mouse</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
              <div class="gameImageBox">
                <img src="https://storage.googleapis.com/images-games-prod/gpi-3765.jpg" alt="Ramses Rising"
                  data-game="Ramses Rising" title="Ramses Rising" class="img-fluid">
                <div class="hoverWrap play_game_new" data-game="Ramses Rising" data-game-type="BF-BFGramses-rising"
                  data-game-provider="wac" data-game-category="slot">
                  <div class="gameImageBox_middle play_game" data-game="Ramses Rising"
                    data-game-type="BF-BFGramses-rising" data-game-provider="wac" data-game-category="slot">
                    <i class="i_style i_live"></i>
                  </div>
                  <div class="gameImageBox_bottom d-none">
                    <button class="gameImageBox_Btn demo_game" data-game="Ramses Rising">PLAY DEMO</button>
                  </div>
                </div>
              </div>
              <h3>Ramses Rising</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section class="casino container-wd providers my-5">
    <div class="providerTop">
      <h1 class="text-center">Top Providers</h1>
      <h3 class="yellowP text-center">Play Your favorite Casino Games with Top Providers</h3>
    </div>
    <div class="provider">
      <img src="https://assets.tez888.com/Media/1655200413-evolutiongaming.svg"
        style="height: 32px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200421-evoplay.svg"
        style="height: 31px;padding: 5px;filter: brightness(0.8);opacity: .8;">
      <img src="https://assets.tez888.com/Media/1655200427-ezugi-o.svg"
        style="height: 35px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200435-microgaming.svg"
        style="height: 35px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200442-netent.svg"
        style="height: 35px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200450-playngo.svg"
        style="height: 35px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200459-pragmaticplay.svg"
        style="height: 45px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200467-redtigergaming.svg"
        style="height: 35px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200474-superspadegames.svg"
        style="height: 35px;padding: 5px;filter: brightness(0.8);">
      <img src="https://assets.tez888.com/Media/1655200483-yggdrasil.svg"
        style="height: 35px;padding: 5px;filter: brightness(0.8);">
    </div>
  </section>
  <section class="testimonol_container">
    <h1>Testimonials</h1>
    <h3 class="yellowP text-center">We believe in fair and superior gaming!</h3>
    <div class="testimonol_box overflow_slider_color">
      <div class="mx-3">
        <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
          <h2 style="font-size: 1.5rem; font-weight: 500;">This casino features the best casino games &amp; sports match
            selection, as well as lucrative bonuses. Keep it up SHAKTIBOOK.</h2>
          <div class="testimonolUser">
            <h3 class="yellowP"></h3>
            <p>From Noida</p>
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
          <h2 style="font-size: 1.5rem; font-weight: 500;">The best sportsbook website that feels like a land-based
            casino. I predicted the match with the best odds &amp; got the win.</h2>
          <div class="testimonolUser">
            <h3 class="yellowP"></h3>
            <p>From Bangalore</p>
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
          <h2 style="font-size: 1.5rem; font-weight: 500;">SHAKTIBOOK proved their faster cashouts. I played many casino
            games &amp; won huge amounts. I cashed out within a few hours.</h2>
          <div class="testimonolUser">
            <h3 class="yellowP"></h3>
            <p>From Lucknow</p>
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
          <h2 style="font-size: 1.5rem; font-weight: 500;">After a referral from a friend, I joined SHAKTIBOOK &amp;
            made Rs 25000 in just 1 week. It is a 100% trusted gaming platform.</h2>
          <div class="testimonolUser">
            <h3 class="yellowP"></h3>
            <p>From Chennai</p>
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
          <h2 style="font-size: 1.5rem; font-weight: 500;">SHAKTIBOOK offers the best VIP program. Not only are the
            bonuses great, but 24/7 customer support team is happy to help.</h2>
          <div class="testimonolUser">
            <h3 class="yellowP"></h3>
            <p>From Mumbai</p>
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
          <h2 style="font-size: 1.5rem; font-weight: 500;">SHAKTIBOOK is a legal casino that favors responsible gaming.
            I found a deposit and withdrawal methods convenient for all.</h2>
          <div class="testimonolUser">
            <h3 class="yellowP"></h3>
            <p>From Pune</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function () {
      var slider8 = JSON.parse('{"arrows":true,"accessiblity":true,"autoplay":true,"centerMode":true,"focusOnSelect":true,"dots":true,"fade":true,"infinite":true,"pauseOnHover":true,"responsive":[{"breakpoint":600,"settings":{"slidesToShow":2,"slidesToScroll":1,"infinite":true}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1,"infinite":true}}],"swipe":true,"useCSS":true,"touchMove":true,"variableWidth":true}')
      $('.slider-8').slick(slider8);
    })
  </script>
  <section class="testimonol_container">
    <h1>SHAKTIBOOK - Your Apex Choice for Online Betting in India</h1>
    <div class="container-wd">
      <p>SHAKTIBOOK, as the name suggests, is one of the big-time sleepers among the best sports betting sites in India.
        We have now become one of the nation’s trusted online sports since all of our experts and the in-house team have
        made the jump from daily overseas top-notch online betting sites to come under one roof and develop SHAKTIBOOK.
        With our global betting proficiency, we hardwire the highly extensive range of casino and online betting games
        in Bharat. Claiming unbeatable betting odds and out-of-the-box online betting options you can access from your
        smartphone. We bet your experience will barely take you to the other online sports betting platforms.</p>
    </div>
  </section>
  <section class="testimonol_container">
    <h2 style="font-size:22px; font-weight:700;">Why Choose SHAKTIBOOK Website for Online Betting in India?</h2>
    <div class="container-wd">
      <p>SHAKTIBOOK is one of the best online betting sites in India, as it offers bettors both popular and niche
        sports. Plus, it has a mobile platform design. Some of our bettors think our website holds a striking
        resemblance with the land-based casinos. People who engage with our website account for match prediction with
        the best odds and claim the win, followed by faster cashouts within a few hours. Plus, we ensure customers are
        valued by offering appealing bonuses, quick payout, and distinct games.</p>
    </div>
  </section>
  <section class="testimonol_container">
    <h1>Frequently Asked Questions</h1>
    <div class="container-wd">
      <div class="language-tabs">
        <button class="active-tab" onclick="toggleTab('faqTab1')">English</button>

      </div>
      <div id="faqTab1" class="faq-tab ">
        <div class="accordion show-five-faqs tezAccordion" data-id="1" id="tezAccordion1">
          <div class="accordion-item" style="margin-bottom: 5px;">
            <h2 class="accordion-header" id="headingOne0">
              <button class="accordion-button  " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne0"
                aria-expanded="1" aria-controls="collapse0"> Does SHAKTIBOOK have Live dealer games? </button>
            </h2>
            <div id="collapseOne0" class="accordion-collapse collapse show" aria-labelledby="headingOne0"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>SHAKTIBOOK offers various Live Dealer Casino games, including Blackjack, Andar Bahar, Roulette,
                  Baccarat, Poker, and Teen Patti, ensuring diverse entertainment.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px;">
            <h2 class="accordion-header" id="headingOne1">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne1" aria-expanded="" aria-controls="collapse1"> What is withdrawal processing
                time? </button>
            </h2>
            <div id="collapseOne1" class="accordion-collapse collapse " aria-labelledby="headingOne1"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Withdrawals on SHAKTIBOOK are processed swiftly, typically within 2 to 24 hours. Experience efficient
                  and timely withdrawal services on our platform.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px;">
            <h2 class="accordion-header" id="headingOne2">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne2" aria-expanded="" aria-controls="collapse2"> In how much time will I get
                my deposit added to my wallet? </button>
            </h2>
            <div id="collapseOne2" class="accordion-collapse collapse " aria-labelledby="headingOne2"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Any deposit, regardless of the method, should reflect in your wallet within 5 minutes. If not
                  received, please promptly reach out to our Customer Support for assistance and resolution.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px;">
            <h2 class="accordion-header" id="headingOne3">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne3" aria-expanded="" aria-controls="collapse3"> How can I release locked
                bonuses on SHAKTIBOOK? </button>
            </h2>
            <div id="collapseOne3" class="accordion-collapse collapse " aria-labelledby="headingOne3"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>The locked bonus will be released only on Live Casino not on any Sport or Exchange, on every bet of
                  100rs, 2rs from the locked bonus will be released to the earned bonus.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px;">
            <h2 class="accordion-header" id="headingOne4">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne4" aria-expanded="" aria-controls="collapse4"> What does it mean when my
                bets are showing as 'Void'? </button>
            </h2>
            <div id="collapseOne4" class="accordion-collapse collapse " aria-labelledby="headingOne4"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Void bets prompt stake refunds within 24 hours. For further information, contact CS.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne5">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne5" aria-expanded="" aria-controls="collapse5"> How to verify my account on
                SHAKTIBOOK? </button>
            </h2>
            <div id="collapseOne5" class="accordion-collapse collapse " aria-labelledby="headingOne5"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>To verify your account, Visit Account Profile, update details, click Verification, upload a
                  Govt-issued ID. Contact our support at support@SHAKTIBOOK.com for swift verification assistance.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne6">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne6" aria-expanded="" aria-controls="collapse6"> How to contact SHAKTIBOOK
                Customer Support? </button>
            </h2>
            <div id="collapseOne6" class="accordion-collapse collapse " aria-labelledby="headingOne6"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>For assistance, click the chat option on our website/app. Reach out to Customer Support at
                  support@SHAKTIBOOK.com. We're here to help and address your queries promptly.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne7">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne7" aria-expanded="" aria-controls="collapse7"> Is a Sports Exchange
                available on SHAKTIBOOK? </button>
            </h2>
            <div id="collapseOne7" class="accordion-collapse collapse " aria-labelledby="headingOne7"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Yes! SHAKTIBOOK offers sports exchange services, allowing you to play with competitive bet odds
                  instantly. Don't miss out on market offerings!</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne8">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne8" aria-expanded="" aria-controls="collapse8"> How to place a bet in
                SportsBook? </button>
            </h2>
            <div id="collapseOne8" class="accordion-collapse collapse " aria-labelledby="headingOne8"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Select a sport/event, choose a bet type, set stake, confirm bet. Check the rules and enjoy!</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne9">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne9" aria-expanded="" aria-controls="collapse9"> What is the minimum deposit
                and withdrawal on SHAKTIBOOK? </button>
            </h2>
            <div id="collapseOne9" class="accordion-collapse collapse " aria-labelledby="headingOne9"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>SHAKTIBOOK has a minimum deposit of 500/- and a minimum withdrawal requirement of 500/-.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne10">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne10" aria-expanded="" aria-controls="collapse10"> What are the payment
                methods that SHAKTIBOOK accepts currently? </button>
            </h2>
            <div id="collapseOne10" class="accordion-collapse collapse " aria-labelledby="headingOne10"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>SHAKTIBOOK offers QR-UPI payments, Wallet transfers, and Bank Transfers, providing diverse payment
                  options for users on its platform.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne11">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne11" aria-expanded="" aria-controls="collapse11"> What should I do if I'm
                unable to log in or not receiving OTP? </button>
            </h2>
            <div id="collapseOne11" class="accordion-collapse collapse " aria-labelledby="headingOne11"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Trouble logging in? Clear cache, cookies, and history. Wait a few hours and attempt login again for
                  seamless access.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne12">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne12" aria-expanded="" aria-controls="collapse12"> How to check the latest
                promotions? </button>
            </h2>
            <div id="collapseOne12" class="accordion-collapse collapse " aria-labelledby="headingOne12"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Stay updated on SHAKTIBOOK's latest promotions by visiting https://SHAKTIBOOK.com/promotion</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne13">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne13" aria-expanded="" aria-controls="collapse13"> How to download SHAKTIBOOK
                App? </button>
            </h2>
            <div id="collapseOne13" class="accordion-collapse collapse " aria-labelledby="headingOne13"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Visit SHAKTIBOOK website, find top-right icon for app download. Exclusive for Android users. Download
                  now for a seamless betting experience.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne14">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne14" aria-expanded="" aria-controls="collapse14"> How to register on
                SHAKTIBOOK? </button>
            </h2>
            <div id="collapseOne14" class="accordion-collapse collapse " aria-labelledby="headingOne14"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>Register on SHAKTIBOOK with an active mobile number. Click "Join Now," enter your mobile number,
                  receive OTP, and enter it. Your number is now registered with SHAKTIBOOK.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item" style="margin-bottom: 5px; display: none;">
            <h2 class="accordion-header" id="headingOne15">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne15" aria-expanded="" aria-controls="collapse15"> What casino games are
                available at SHAKTIBOOK? </button>
            </h2>
            <div id="collapseOne15" class="accordion-collapse collapse " aria-labelledby="headingOne15"
              data-bs-parent="#tezAccordion1">
              <div class="accordion-body">
                <p>We have almost all the popular games available like Live casino, Slots, Roulette, Baccarat, poker,
                  AndarBahar, Teean patti, Blackjack, Jackpots etc.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="pw-toggleFaqs" data-id="1" id="pw-toggleFaqs1" style="display: block;"></button>
      </div>


      <script>
        $(document).ready(function () {
          $('.slick_slide').slick({
            autoplay: true,
            autoplaySpeed: 2000,
          })
        });
      </script>

      <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
        integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
        crossorigin="anonymous"></script>

      <script>
        // Establish a connection to the Socket.io server
        function parseCookies() {
          return document.cookie.split(';').reduce((cookies, cookie) => {
            const [name, value] = cookie.trim().split('=');
            cookies[name] = decodeURIComponent(value);
            return cookies;
          }, {});
        }

        // Access all cookies
        const cookies = parseCookies();
        const token = cookies['uid'] || null;

        console.log("token from cookies", token);
        const socket = io('http://localhost:8001/', { query: "token=" + token });
        socket.on("connect", () => {
          console.log("Connected to server");

          socket.on("newMessagefromadmin", (message) => {
            console.log("Received new message from admin:", message);
            $("#new_chatbox_body").append(`<li class="other">${message}</li>`);
          });

        });

        $('#sendMessage').on('click', () => {
          var userInput = $('.text-box');
          var newMessage = userInput.html().replace(/\<div\>|\<br.*?\>/ig, '\n').replace(/\<\/div\>/g, '').trim().replace(/\n/g, '<br>');

          const message = newMessage ?? null;
          function parseCookies() {
            return document.cookie.split(';').reduce((cookies, cookie) => {
              const [name, value] = cookie.trim().split('=');
              cookies[name] = decodeURIComponent(value);
              return cookies;
            }, {});
          }

          // Access all cookies
          const cookies = parseCookies();
          const token = cookies['uid'] || null;
          console.log("token", token);
          function sendMessageToadmin(token, message) {
            // Emit the "sendToUser" event to the server with the user ID and message
            socket.emit("sendmessageToAdmin", { token, message });
            console.log("meesage sent to admin:", message);
            $("#new_chatbox_body").append(`<li class="self">${message}</li>`);
            // clean out old message
            userInput.html('');
            // focus on input
            userInput.focus();
          }
          sendMessageToadmin(token, message);

        });

      </script>

      <script>

      </script>
      <script>
        $(document).ready(function () {
          setInterval(function () {
            $.ajax({
              url: 'http://localhost:8001/get-odds',
              method: 'GET',
              dataType: 'json',
              success: function (response) {

                // Clear the existing content before appending new data
                $('#oddsList').empty();

                // Iterate over each item in the response
                response.odds.forEach(function (item) {
                  // Create a new li element for each item
                  var li = $('<li>', { class: 'd-flex align-items-center flex-column flex-sm-row col-12', 'data-vsnameurl': item.vsNameUrl });

                  // Append the vsName to the li element
                  li.append($('<div>', { class: 'col-12 col-lg-6 d-flex vsname', text: item.vsName }));
                  var parentDiv = $('<div>', { class: 'col-12 col-lg-6 d-flex align-self-start' });
                  // Iterate over backOdds and layOdds arrays
                  for (var i = 0; i < item.backOdds.length; i++) {
                    // Create div elements for back odds and lay odds
                    var backOddsDiv = $('<div>', { class: 'backodds' }).append($('<em>', { text: item.backOdds[i] }));
                    var layOddsDiv = $('<div>', { class: 'oddlay' }).append($('<em>', { text: item.layOdds[i] }));

                    // Append back odds and lay odds divs to the li element
                    parentDiv.append(backOddsDiv, layOddsDiv);
                    li.append(parentDiv);
                  }

                  // Append the li element to the ul
                  $('#oddsList').append(li);
                });
              },
              error: function (xhr, status, error) {
                console.error('Error:', error);
                // Handle the error here
              }
            });
          }, 5000);
        });

      </script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var elements = document.querySelectorAll(' img');

          elements.forEach(function (element) {
            element.addEventListener('click', function (event) {
              // Your click event handler logic here
              window.location.href = 'https://api.whatsapp.com/send?phone=917688891113&text=Hey';

            });
          });
        });

      </script>
      <script>
        (function ($) {
          $(document).ready(function () {
            var $chatbox = $('.chatbox'),
              $chatboxTitle = $('.chatbox__title'),
              $chatboxTitleClose = $('.chatbox__title__close'),
              $chatboxCredentials = $('.chatbox__credentials');
            $chatboxTitle.on('click', function () {
              $chatbox.toggleClass('chatbox--tray');
            });
            $chatboxTitleClose.on('click', function (e) {
              e.stopPropagation();
              $chatbox.addClass('chatbox--closed');
            });
            $chatbox.on('transitionend', function () {
              if ($chatbox.hasClass('chatbox--closed')) $chatbox.remove();
            });

          });
        })(jQuery);
      </script>
      <script>
        document.querySelector("#login")
          .addEventListener("click", () => {
            window.location.href = "/login";
          });
      </script>

      {{!--
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Make sure jQuery is included --> --}}
      <script>

      </script>
      {{!--
      <script>
        $("#send_message").on("click", function () { // Added comma and fixed function syntax
          const message = $('#message_input').val();

          console.log(message);
          $.ajax({
            url: 'http://localhost:8001/send-message',
            method: 'POST',
            data: { body: message }, // Corrected the data syntax
            dataType: 'json',
            success: function (response) {
              console.log('Success:', response);
              // Clear the existing content before appending new data

            },
            error: function (xhr, status, error) {
              console.error('Error:', error);
              // Handle the error here
            }
          });
        }); // Fixed closing bracket
      </script> --}}


      <script>
        $(document).ready(function () {

          function parseCookies() {
            return document.cookie.split(';').reduce((cookies, cookie) => {
              const [name, value] = cookie.trim().split('=');
              cookies[name] = decodeURIComponent(value);
              return cookies;
            }, {});
          }

          // Access all cookies
          const cookies = parseCookies();
          const token = cookies['uid'] || null; // Use null if token is not provided

          if (!Boolean(token)) {
            return alert("Login Or create Accout to Start LIve chat for quick id and safe play😊 ");

          }
          $(".login_info").hide();
          $.ajax({
            url: "/load-chats",
            method: "GET",
            data: { token: token },
            datatype: "json",
            success: function (response) {
              // Assuming response.messages is an array of messages
              console.log(response.messages);
              response.messages.forEach(function (message) {

                if (message.sender_id == adminConfig.adminid) {
                  $("#new_chatbox_body").append(`
        <li class="other">${message.body}</li>
            
          
    `);
                } else {
                  $("#new_chatbox_body").append(`
           <li class="self">${message.body}</li>
    `);
                }
              });
            }



          });
        });
      </script>
      <script>
        console.log("admin object", adminConfig.adminid);
      </script>

</body>

</html>