<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    {{!-- <li class="nav-item nav-profile">
      <a href="#" class="nav-link">

        {{!-- <div class="text-wrapper">
          <p class="profile-name">Allen Moreno</p>
          <p class="designation">Administrator</p>
        </div> --}}
        <div class="icon-container">
          <i class="icon-bubbles"></i>
          <div class="dot-indicator bg-danger"></div>
        </div>
      </a>
    </li> --}}
    <li class="nav-item nav-category"><span class="nav-link">DASHBOARD</span></li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/admin/all-users">
        <span class="menu-title">DASHBOARD</span>
        <i class="icon-layers menu-icon"></i>
      </a>

    </li>
    <li class="nav-item nav-category"><span class="nav-link">MAIN PANEL</span></li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/admin/all-users">
        <span class="menu-title">ALL USERS</span>
        <i class="icon-layers menu-icon"></i>
      </a>

    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/admin/create-user">
        <span class="menu-title">CREATE USERS</span>
        <i class="icon-layers menu-icon"></i>
      </a>

    </li>
    <li class="nav-item nav-category"><span class="nav-link">Messaging</span></li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/user-chat">
        <span class="menu-title">CHATS</span>
        <i class="icon-globe menu-icon"></i>
      </a>
    </li>




  </ul>
</nav>